.title{
    position: relative;

    margin-top: 3rem;
    left: 1rem;

    border-bottom: 0.5px solid var(--black);
    width: 50%;
    color: var(--black);
}

.container{
    display: grid;
    margin: 10px auto 30px;
    grid-template-columns: repeat(3 , 1fr);

    background-color: yellow;
}

.grid{
    position: relative;
    display: grid;
    left: 2rem;
    gap: 20px;
}

h5{
    margin-top: 0.2rem;
    font-size: 1rem;
}

.view{
    position: relative;

    margin-top: 3rem;
    margin-bottom: 1rem;
 
    background-color: var(--daredevil);
    padding: 0.8rem;
    color: var(--white);
    border: none;
    font-family: Arial, sans-serif;

    cursor: pointer;
}