.title{
    position: relative;

    margin-top: 3rem;
    left: 1rem;

    border-bottom: 0.5px solid var(--black);
    width: 50%;
    color: var(--black);
}

.inline{
    position: relative;
    justify-content: space-between;

    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px ;
}

.container{
    position: relative;
    margin-top: 2rem;
    left: 2rem;

    width: 30%;
}


.imgSize{
    width: 100%;
    margin-bottom: -0.4rem;
}

.border{
    border-bottom: 0.5rem solid var(--daredevil);
}

.body{
    padding: 2px 1rem;

    color: var(--white);
    background-color: var(--black);
}

h5{
    margin-top: 0.2rem;
    font-size: 1rem;
}

.view{
    position: relative;
    display: flexbox;

    margin-top: 3rem;
    margin-bottom: 1rem;

    background-color: var(--daredevil);
    padding: 0.8rem;
    color: var(--white);
    border: none;
    font-family: Arial, sans-serif;

    cursor: pointer;
}